@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
    font-family: ocr;
    src: url(font/LazenbyCompLiquid.ttf)
}

@media screen and (max-width: 416px) {
    html {
        font-size: 12pt !important;
    }
    .row {
        flex-wrap: wrap;
    }
    .links {
        flex-direction: column;
    }
    .links a:after {
        content: "" !important;
    }
    .head {
        height: 160px !important;
    }
    .head-title {
        font-size: 32pt !important;
    }
    .image {
        margin-left: revert !important;
    }
}

html {
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.head {
    height: 220px;

    display: flex;
    align-items: center;
    text-align: center;

    background-color: navy;
    color: white;

    margin-bottom: 32px;
}

.head-title {
    text-align: center;
    width: 100%;
    font-size: 52pt;
    font-family: ocr, monospace;
}

.contents {
    max-width: 960px;
    margin: auto;
}

.subtitle {
    color: brown;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: x-large;
}

.block {
    border: 1pt solid rgba(0, 0, 0, .15);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 36px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: xx-large;
    padding-bottom: 16px;
}

.image {
    width: 700px;
    margin-left: 24px;
}

.image img {
    width: 100%;
    height: auto;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: .3rem;
    border: 1px solid #dee2e6;
}

.links {
    display: flex;
    gap: 12px;
    padding-top: 12px;
}

.links a:not(:last-of-type)::after {
    display: inline-block;
    padding-left: 12px;
    content: "•";
}